/* Reset and base styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
}

/* Header styles */
header {
    position: fixed;
    width: 100%;
    background-color: #00010284;
    color: white;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cirlceimg{
    height: 74px;
}

.bold{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.logo h1 {
    margin: 0;
    padding: 0 15px; /* Add padding to the logo */
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Align navigation links to the right */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: font-size 0.3s ease;
}

nav ul li a:hover {
    font-size: 1.1em; /* Increase font size on hover */
}

/* Main content styles */
main {
    padding-top: 100px;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 40px;
}

#domains .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin-top: 0;
}

/* FAQ styles */
.faq-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust gap between columns */
}

.faq {
    flex: 1 1 calc(50% - 10px); /* Adjust width to fit two columns */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.faq-question {
    cursor: pointer;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.faq-question:hover {
    font-size: 1.05em;
    transform: scale(1.05);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding: 0 10px;
    border-left: 3px solid #004d99;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
